@{
    ViewData["Title"] = "UNF Cyber Security Team";
}

<h1 class="mb-3">UNF Cyber Security Team Work</h1>
<p>Role: Web Specialist and Windows Specialist (2024 - Present).</p>
<ul>
    <li>Competitive travel team participation</li>
    <li>Daily team practice for complex security use cases</li>
    <li>Lectures and exposure to global security experts</li>
</ul>
