@{
    ViewData["Title"] = "Skyblivion Interiors";
}

<h1 class="mb-3">Skyblivion Interiors</h1>
<p>
    Selected interiors created for Skyblivion.
</p>
<p><a asp-controller="Home" asp-action="ExperienceSkyblivion">View related experience details</a></p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 project-gallery">
    <div class="col">
        <div class="card h-100">
            <img src="~/images/skyblivion/agarmirs-house.jpg" class="card-img-top" alt="Agarmir's House interior in Skyblivion" />
            <div class="card-body"><h2 class="h6 card-title mb-0">Agarmir's House</h2></div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/skyblivion/dorians-house.jpg" class="card-img-top" alt="Dorian's House interior in Skyblivion" />
            <div class="card-body"><h2 class="h6 card-title mb-0">Dorian's House</h2></div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/skyblivion/timberscar-hollow.jpg" class="card-img-top" alt="Timberscar Hollow interior in Skyblivion" />
            <div class="card-body"><h2 class="h6 card-title mb-0">Timberscar Hollow</h2></div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/skyblivion/seridurs-house-basement.jpg" class="card-img-top" alt="Seridur's House Basement interior in Skyblivion" />
            <div class="card-body"><h2 class="h6 card-title mb-0">Seridur's House Basement (Order of the Virtuous Blood)</h2></div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/skyblivion/bruma-player-home.jpg" class="card-img-top" alt="Bruma Player Home interior in Skyblivion" />
            <div class="card-body"><h2 class="h6 card-title mb-0">Bruma Player Home</h2></div>
        </div>
    </div>
</div>
