@{
    ViewData["Title"] = "Skywind Interiors";
}

<h1 class="mb-3">Skywind Interiors</h1>
<p>
    Interior level design contributions for the Skywind project.
</p>

<ul>
    <li>Role: Interior Level Designer</li>
    <li>Timeline: December 2021 - 2022</li>
</ul>
