@model dorks_and_dice_site.Models.Resume.EducationEntryViewModel

<div class="@Model.CardCssClass">
    <div class="card-body">
        <h3 class="h6 mb-1">@Model.Institution</h3>
        @foreach (var line in Model.Lines)
        {
            var textClass = line.IsMuted ? $"text-muted {line.CssClass}" : line.CssClass;
            <p class="@textClass">@line.Text</p>
        }
    </div>
</div>
