name: Deploy dorks-and-dice-site

on:
  push:
    branches: [ "main" ]

concurrency:
  group: dorks-and-dice-site
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: [self-hosted, dorks-and-dice-site]
    steps:
      - uses: actions/checkout@v4

      - name: Build image
        run: docker build -t dorks-and-dice-site:latest -f dorks-and-dice-site/Dockerfile .

      - name: Deploy
        run: |
          cd /mnt/HDDs/www/dorks-and-dice-site
          docker compose up -d --force-recreate